iloc: İndeks-tabanlı seçim yapar. Yani, satır ve sütunları belirli bir indeks veya indeks aralığına göre seçmek için kullanılır.

loc: Etiket-tabanlı seçim yapar. Yani, satır ve sütunları belirli bir etiket veya etiket aralığına göre seçmek için kullanılır.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Automobile.csv")

In [ ]:
df = pd.DataFrame(data)
print(df)

                          name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[398 rows x 9 columns]

In [ ]:
# tek satır listeleme
print(df.iloc[1])

name            buick skylark 320
mpg                          15.0
cylinders                       8
displacement                350.0
horsepower                  165.0
weight                       3693
acceleration                 11.5
model_year                     70
origin                        usa
Name: 1, dtype: object

In [ ]:
print(df.loc[1])

name            buick skylark 320
mpg                          15.0
cylinders                       8
displacement                350.0
horsepower                  165.0
weight                       3693
acceleration                 11.5
model_year                     70
origin                        usa
Name: 1, dtype: object

In [ ]:
# birden fazla satır listeleme
print(df.iloc[:6])

                        name   mpg  cylinders  displacement  horsepower  \
0  chevrolet chevelle malibu  18.0          8         307.0       130.0
1          buick skylark 320  15.0          8         350.0       165.0
2         plymouth satellite  18.0          8         318.0       150.0
3              amc rebel sst  16.0          8         304.0       150.0
4                ford torino  17.0          8         302.0       140.0
5           ford galaxie 500  15.0          8         429.0       198.0

   weight  acceleration  model_year origin
0    3504          12.0          70    usa
1    3693          11.5          70    usa
2    3436          11.0          70    usa
3    3433          12.0          70    usa
4    3449          10.5          70    usa
5    4341          10.0          70    usa

In [ ]:
print(df.loc[:6])

                        name   mpg  cylinders  displacement  horsepower  \
0  chevrolet chevelle malibu  18.0          8         307.0       130.0
1          buick skylark 320  15.0          8         350.0       165.0
2         plymouth satellite  18.0          8         318.0       150.0
3              amc rebel sst  16.0          8         304.0       150.0
4                ford torino  17.0          8         302.0       140.0
5           ford galaxie 500  15.0          8         429.0       198.0
6           chevrolet impala  14.0          8         454.0       220.0

   weight  acceleration  model_year origin
0    3504          12.0          70    usa
1    3693          11.5          70    usa
2    3436          11.0          70    usa
3    3433          12.0          70    usa
4    3449          10.5          70    usa
5    4341          10.0          70    usa
6    4354           9.0          70    usa

In [ ]:
# Birden fazla sütun listeleme
print(df.iloc[:4 , :4])

                        name   mpg  cylinders  displacement
0  chevrolet chevelle malibu  18.0          8         307.0
1          buick skylark 320  15.0          8         350.0
2         plymouth satellite  18.0          8         318.0
3              amc rebel sst  16.0          8         304.0

In [ ]:
print(df.loc[:4 , :4])

                        name   mpg  cylinders  displacement  horsepower
0  chevrolet chevelle malibu  18.0          8         307.0       130.0
1          buick skylark 320  15.0          8         350.0       165.0
2         plymouth satellite  18.0          8         318.0       150.0