In [ ]:
import pandas as pd

In [ ]:
data = {
    'AD': ["Ahmet", "Mehmet" ,"Ayşe"],
    'SOYAD': ["Bahcecı","Ayaz","Ateş"],
    'NO': [444,233,442],
}

df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AD      3 non-null      object
 1   SOYAD   3 non-null      object
 2   NO      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
df['NO'] = df['NO'].astype(str)  # 'NO' sütununu string türüne dönüştür
print('___ADD NEW COLUMNS___')
df['YeniSutun'] = df['AD'] + '  '+ df['SOYAD']+'  ' +df['NO']

print(df['YeniSutun'])

___ADD NEW COLUMNS___
0    Ahmet  Bahcecı  444
1      Mehmet  Ayaz  233
2        Ayşe  Ateş  442
Name: YeniSutun, dtype: object